/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(203, 203, 203);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3276c3;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3276c3;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
/* global styling */
body {
  overflow-x: hidden;
  direction: ltr;
  height: 100% !important;
}
body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown) {
  height: 100% !important;
}
div:where(.swal2-container) h2:where(.swal2-title) {
  font-size: 20px !important;
  padding: 0px;
}
#app,
html {
  height: 100%;
}
